@page "/blog"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject GitHubBlogService BlogService

<PageTitle>Blog</PageTitle>

<h1>Blog</h1>

<p>This page shows a list of blog posts loaded from GitHub markdown files.</p>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else if (posts.Count == 0)
{
    <p>No blog posts found.</p>
}
else
{
    <ul class="list-group">
        @foreach (var post in posts)
        {
            <li class="list-group-item">
                <a href="@post.Url" target="_blank"><h3>@post.Title</h3></a>
            </li>
        }
    </ul>
}

@code {
    private List<GitHubBlogService.BlogPostMeta>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await BlogService.GetBlogPostsAsync();
    }
}
