@page "/projects"
@rendermode InteractiveServer

@inject ProjectsApiClient ProjectsClient

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

<p>Here you will find a list of projects.</p>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else if (projects.Count == 0)
{
    <p>No projects found.</p>
}
else
{
    <ul>
        @foreach (var project in projects)
        {
            <li>
                <strong>@project.Title</strong><br />
                @project.Description
                @if (!string.IsNullOrWhiteSpace(project.GitHubUrl))
                {
                    <div><a href="@project.GitHubUrl" target="_blank">GitHub</a></div>
                }
                @if (!string.IsNullOrWhiteSpace(project.LiveUrl))
                {
                    <div><a href="@project.LiveUrl" target="_blank">Live Demo</a></div>
                }
            </li>
        }
    </ul>
}

@code {
    private List<PortfolioApi.DTOs.ProjectDTO>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectsClient.GetProjectsAsync();
    }
}
